/* html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

* {
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}

body {
    background-color: rgba(0, 0, 0, 0.05);
    /* margin: 0 auto; */
    margin: 50px 10%;
    scroll-behavior: smooth;
    
    /* padding-top: 30px; */
    /* width: 960px; */
    /* font-family: 'Roboto'; */
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root, .css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin: 0 15px !important;
}

.css-zcbmsk-MuiButtonBase-root-MuiButton-root {
    color: #fff;
    background-color: #ffaa0d !important;
    /* background-color: #ff0d0d !important; */
}

.buttons {
    justify-content: space-between;
}

img {
    max-width: 100%;
    /* position: absolute;
    height: auto;
    top: 0;
    left: 0; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.navbar-collapse {
    align-items: center;
    flex-grow: 0;
}

.full-post {
    background-color: #fff;
    padding: 30px;
    /* position: relative; */
}

.full-login {
    background-color: #fff;
    padding: 30px;
    width: 420px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2rem;
}

/* .paragraph {
    padding-top: 0px;
}
.postheader {
    padding-top: 14rem;
} */

a,
a:active,
a:hover {
    text-decoration: none;
    color: inherit;
}

.card {
    height: 100%;
}
/* .navbar {
    --bs-navbar-color: #0D6EFD;
    --bs-navbar-hover-color: #004EC2;
    --bs-navbar-brand-color: #000000;
}  */

.nav-pills .nav-link {
    margin-left: 0.3rem;
    text-align: center;
    width: 100px;
    /* margin-right: 1rem; */
}

.upclick {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 4px;
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgba(13,110,253, 0.2);
    color: rgba(13,110,253, 0.2);
}

.notfound {
    height: 400px;
    display: grid;
    justify-items: center;
    align-items: center;
    /* background-color: #ccc; */
}
.notfoundheader {
    text-align: center;
}

/* @media (min-width: 950px) {
    .upclick {
        right: 130px;
    }
} */
/* .cardtitle {
    padding-top: 80px;
} */
@media (min-width: 1024px) {
    .upclick {
        right: 50px;
    }
}

@media (max-width: 450px) {
    .header {
        display: flex;
    padding: 15px 0;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        /* padding-right: calc(var(--bs-gutter-x) * .5); */
        /* padding-left: calc(var(--bs-gutter-x) * .5); */
        margin-right: auto;
        margin-left: auto;
    }
    .full-login {
        background-color: #fff;
        padding: 30px;
        width: 350px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 2rem;
    }
}
